{% extends 'admin/layout.html' %}
{% block content %}
    <div class="portalButtons">
        {% for groupObj in groups %}
        {% set group = groupObj.group %}
        <div class="portalButton">
            <a class="modal-button" href="{{ ('admin/groups/' ~ group.get_id())|path }}" data-id="{{ group.get_id() }}">
                <h3>{{ groupObj.count }}</h3>
                <h2>{{ group.get_name() }}</h2>
            </a>
        </div>
        <div id="modal-{{ group.get_id() }}" class="modal" tabindex="0">
            <div class="modal-content">
                <div class="modal-header">
                    <span data-close class="close">×</span>
                    <span>{{ group.get_name() }}</span>
                </div>
                <div class="modal-body">
                    <form action="{{ 'admin/groups'|path }}" method="post">
                        <div class="input-field">
                            <div class="input-field-inline">
                                <label for="name-{{ group.get_id() }}">Name</label>
                                <input name="name-{{ group.get_id() }}" id="name-{{ group.get_id() }}" type="text" placeholder="{{ group.get_name() }}" value="{{ group.get_name() }}">
                            </div>
                        </div>
                        <div class="input-field">
                            <hr/>
                            <h3>Members</h3>
                        </div>
                        {% for member in members %}
                        <div class="left input-field">
                            <div class="checkbox">
                                {% if member.has_group(group.get_id()) == 'true' %}
                                <input name="member-{{ member.get_id() }}-{{ group.get_id() }}" id="member-{{ member.get_id() }}-{{ group.get_id() }}" type="checkbox" checked>
                                {% else %}
                                <input name="member-{{ member.get_id() }}-{{ group.get_id() }}" id="member-{{ member.get_id() }}-{{ group.get_id() }}" type="checkbox">
                                {% endif %}
                                <label for="member-{{ member.get_id() }}-{{ group.get_id() }}"></label>
                            </div>
                            <span class="label">{{ member.get_username() }}</span>
                        </div>
                        {% endfor %}
                        <div class="input-field submit">
                            <button type="submit">Save</button>
                        </div>
                        <div class="input-field-inline">
                            <a class="nyi" href="{{ ('admin/removegroup/' ~ group.get_id())|path }}">Remove group</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="portalButton">
            <a class="modal-button" href="{{ 'admin/newgroup'|path }}" data-id="new">
                <h3>+</h3>
                <h2>New group</h2>
            </a>
        </div>
        <div id="modal-new" class="modal" tabindex="0">
            <div class="modal-content">
                <div class="modal-header">
                    <span data-close class="close">×</span>
                    <span>New group</span>
                </div>
                <div class="modal-body">
                    <form action="{{ 'admin/newgroup'|path }}" method="post">
                        <div class="input-field">
                            <div class="input-field-inline">
                                <label for="name-new">Name</label>
                                <input name="name-new" id="name-new" type="text" placeholder="Name">
                            </div>
                        </div>
                        <div class="input-field">
                            <hr/>
                            <h3>Members</h3>
                        </div>
                        {% for member in members %}
                        <div class="left input-field">
                            <div class="checkbox">
                                <input name="member-{{ member.get_id() }}-new" id="member-{{ member.get_id() }}-new" type="checkbox">
                                <label for="member-{{ member.get_id() }}-new"></label>
                            </div>
                            <span class="label">{{ member.get_username() }}</span>
                        </div>
                        {% endfor %}
                        <div class="input-field submit">
                            <button type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}