{% extends 'admin/layout.html' %}
{% block content %}
    <div class="portalButtons">
        {% for reportObj in reports %}
        {% set report = reportObj.report %}
        {% set postId = reportObj.id %}
        <div class="portalButton">
            <a class="modal-button" href="{{ ('admin/reports/' ~ report.get_id())|path }}" data-id="{{ report.get_id() }}">
                <h3>{{ report.get_id() }}</h3>
                {% if report.get_type() == 1 %}
                <h2>{{ report.get_publication().get_name() }}{% if report.get_resolved() %}<span class="zmdi zmdi-check zmdi-hc-lg tag"></span>{% endif %}</h2>
                {% elseif report.get_type() == 2 %}
                <h2>{{ report.get_publication().get_comment() }}{% if report.get_resolved() %}<span class="zmdi zmdi-check zmdi-hc-lg tag"></span>{% endif %}</h2>
                {% endif %}
            </a>
        </div>
        <div id="modal-{{ report.get_id() }}" class="modal" tabindex="0">
            <div class="modal-content">
                {% set author = report.get_author() %}
                {% set avatar = "" %}
                {% for member in members %}
                {% if member.get_id() == author %}
                {% set author = member.get_username() %}
                {% set avatar = member.get_property('avatar')|split(':') %}
                {% set avatar = avatar[0] != 'data' ? avatar[0]|path : member.get_property('avatar') %}
                {% endif %}
                {% endfor %}
                <div class="modal-header">
                    <span data-close class="close">×</span>
                    <span>{{ report.get_id() }} - {% if report.get_type() == 1 %}{{ report.get_publication().get_name() }}{% elseif report.get_type() == 2 %}{{ report.get_publication().get_comment() }}{% endif %}</span>
                </div>
                {% if report.get_resolved() %}
                <span class="title-block resolve">Resolved</span>
                {% endif %}
                <div class="modal-body">
                    <strong class="title">
                        <img class="avatar" src="{{ avatar }}">
                        <div class="info">
                            <span>{{ author }} says:</span>
                            <small>{{ report.get_publication_date() }}</small>
                        </div>
                    </strong>
                    <p>{{ report.get_description() }}</p>
                    {% if report.get_type() == 1 %}
                    <a class="button" target="_blank" href="{{ ('post/'~postId)|path }}">See the post</a>
                    {% elseif report.get_type() == 2 %}
                    <a class="button" target="_blank" href="{{ ('post/'~postId~'/'~report.get_publication().get_id())|path }}">See the comment</a>
                    {% endif %}
                    <form action="{{ 'admin/reports'|path }}" method="post">
                        <div class="input-field submit">
                            {% if report.get_resolved() %}
                            <a class="submit" href="{{ ('admin/unresolvereport/' ~ report.get_id())|path }}">Unresolve</a>
                            {% else %}
                            <a class="submit" href="{{ ('admin/resolvereport/' ~ report.get_id())|path }}">Resolve</a>
                            {% endif %}
                        </div>
                        <div class="input-field-inline">
                            <a href="{{ ('admin/removepublication/' ~ report.get_id())|path }}">Remove publication</a>
                            <span>|</span>
                            <a class="nyi" href="{{ ('admin/banuser/' ~ report.get_author())|path }}">Ban user</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}