<div id="report-modal" class="modal" tabindex="0">
    <div class="modal-content">
        <div class="modal-header">
            <span data-close class="close">×</span>
            <span>Report</span>
        </div>
        <div class="modal-body" data-bind="with: report">
            {% include 'utils/report.html' %}
        </div>
    </div>
</div>