<div id="stats-modal" class="modal" tabindex="0">
    <div class="modal-content">
        <div class="modal-header">
            <span data-close class="close">×</span>
            <span>Stats</span>
        </div>
        <div class="modal-body" data-bind="with: stats">
            {% include 'utils/stats.html' %}
        </div>
    </div>
</div>