<div id="upload-modal" class="modal" tabindex="0">
    <!-- ko with: upload -->
    <div class="modal-content">
        <div class="modal-header">
            <span data-close class="close">×</span>
            <span>Upload</span>
        </div>
        <div class="modal-body">
            {% include 'utils/upload.html' %}
        </div>
    </div>
    <!-- /ko -->
</div>