{% extends 'layouts/layout.html' %}
{% block title %}
    Gallery
{% endblock %}
{% block content %}
    <!-- ko with: page -->
    {% if registration_success %}
    <div class="block">
        <span class="title">Thank you for registering!<i class="zmdi zmdi-badge-check right"></i></span>
        <div class="confirmation">
            <hr/>
            {% if config('runtime', 'can_upload') %}
            <p class="center"><small>Before you begin, you may want to <a href="{{ 'terms'|path }}">read the rules</a>.<br/>
            Click here to <a href="{{ 'upload'|path }}" data-bind="click: $parent.showUpload">make your first post</a>,
            or click on the following link to <a href="{{ 'profile'|path }}">view or change your profile</a>.</small></p>
            {% else %}
            <p class="center"><small>Before you begin, you may want to <a href="{{ 'terms'|path }}">read the rules</a>.<br/>
            Click on the following link to <a href="{{ 'profile'|path }}">view or change your profile</a>.</small></p>
            {% endif %}
        </div>
    </div>
    <br/>
    {% endif %}
    <!-- ko if: previews().length > 0 -->
    {% if apine.user %}
    <div class="header">
        <span>Currently viewing <filters params="options: [ { name: 'unfiltered', value: true }, { name: 'filtered', value: false } ],
                                                 textField: 'name',
                                                 valueField: 'value',
                                                 default: showMature,
                                                 value: showMature"></filters> posts by date.</span>
        <hr/>
    </div>
    {% endif %}
    <div class="grid" data-bind="foreach: previews">
        <a class="inside-item gallery-preview" data-bind="attr: { id: 'image_' + id(), href: '{{ 'post/'|path }}' + id() }, click: function () { $parent.showPost($data); }">
            <div class="image">
                <div class="image-wrap" data-bind="css: { 'mature': $parent.maskMature() && !removed() ? mature : '', 'removed': removed }">
                    <img data-bind="attr: { src: image }" />
                </div>
            </div>
            <div class="image-hover">
                <span class="image-title">
                    <span data-bind="text: name"></span>
                </span>
            </div>
            <!-- ko if: count() > 1 -->
            <i class="image-type zmdi zmdi-hc-lg" data-bind="css: {
                'zmdi-collection-item-2': count() == 2,
                'zmdi-collection-item-3': count() == 3,
                'zmdi-collection-item-4': count() == 4,
                'zmdi-collection-item-5': count() == 5,
                'zmdi-collection-item-6': count() == 6,
                'zmdi-collection-item-7': count() == 7,
                'zmdi-collection-item-8': count() == 8,
                'zmdi-collection-item-9': count() == 9,
                'zmdi-collection-item-9-plus': count() >= 10 }"></i>
            <!-- /ko -->
            <!-- ko if: count() == 1 -->
            <!-- ko if: type().indexOf('image') == 0 -->
            <i class="image-type zmdi zmdi-image zmdi-hc-lg"></i>
            <!-- /ko -->
            <!-- ko if: type().indexOf('video') == 0 -->
            <i class="image-type zmdi zmdi-videocam zmdi-hc-lg"></i>
            <!-- /ko -->
            <!-- ko if: type().indexOf('facebook') == 0 -->
            <i class="image-type zmdi zmdi-facebook-box zmdi-hc-lg"></i>
            <!-- /ko -->
            <!-- /ko -->
        </a>
    </div>
    <!-- /ko -->
    <div class="no-info" style="display: none">
        {% if config('runtime', 'can_upload') and apine.user %}
        <span>There is nothing here! Would you like to <a href="{{ 'upload'|path }}" data-bind="click: $root.showUpload"><i class="zmdi zmdi-cloud-upload"></i>upload</a> something?</span>
        {% else %}
        <span>There is nothing here!</span>
        {% endif %}
    </div>
    <div class="end-info" style="display: none"><span>Whoops! Looks like you've reached the end!</span></div>
    <div class="clearfix" id="bottom"></div>
    {% include 'modals/post.html' %}
    <!-- /ko -->
{% endblock %}
{% block sidebar %}
    {% include 'utils/activity.html' %}
{% endblock %}
{% block scripts %}
    <script src="{{ 'vendor/bower-asset/clipboard/dist/clipboard.min.js'|resource }}"></script>
    <script src="{{ 'vendor/bower-asset/imagesloaded/imagesloaded.pkgd.min.js'|resource }}"></script>
    <script src="{{ 'vendor/bower-asset/stackblur-canvas/dist/stackblur.js'|resource }}"></script>
    <script src="{{ 'vendor/bower-asset/masonry/dist/masonry.pkgd.min.js'|resource }}"></script>
    <script src="{{ 'vendor/bower-asset/jquery_lazyload/jquery.lazyload.js'|resource }}"></script>
    <script src="{{ 'vendor/bower-asset/hammerjs/hammer.min.js'|resource }}"></script>
    <script src="{{ 'resources/public/scripts/models/preview.js'|resource }}"></script>
    <script src="{{ 'resources/public/scripts/models/post.js'|resource }}"></script>
    <script src="{{ 'resources/public/scripts/models/element.js'|resource }}"></script>
    <script src="{{ 'resources/public/scripts/models/comment.js'|resource }}"></script>
    <script src="{{ 'resources/public/scripts/models/vote.js'|resource }}"></script>
    <script src="{{ 'resources/public/scripts/viewmodels/galleryViewModel.js'|resource }}"></script>
    <script src="{{ 'resources/public/scripts/viewmodels/postViewModel.js'|resource }}"></script>
    <script src="{{ 'resources/public/scripts/viewmodels/reportViewModel.js'|resource }}"></script>
    <script src="{{ 'resources/public/scripts/viewmodels/statsViewModel.js'|resource }}"></script>
    <script src="{{ 'resources/public/scripts/blur.js'|resource }}"></script>
{% endblock %}
{% block initialize %}
    <script>
        (function() {
            var mature = "{{ apine.user.get_property('mature') ? 'true' : 'false' }}" === "true";
            var mask = "{{ apine.user.get_property('mask_mature') ? 'true' : 'false' }}" === "true";
            vm.showPage(new GalleryViewModel(mature, mask));
        })();
    </script>
{% endblock %}
