{% extends 'layouts/layout.html' %}
{% block title %}
    Login
{% endblock %}
{% block content %}
    <!-- ko with: page -->
    <div class="panel">
        <div class="panel-heading">
            <span class="title">Login<i class="zmdi zmdi-lock-outline right"></i></span>
        </div>
        <div class="panel-body panel-wrap">
            <div class="col-half" data-bind="with: login">
                <p class="lead">Existing user</p>
                {% include 'utils/login.html' %}
            </div>
            {% if config('runtime','registration') %}
            <div class="col-half" data-bind="with: register">
                <p class="lead">New user</p>
                {% include 'utils/register.html' %}
            </div>
            {% else %}
            <div class="col-half">
            </div>
            {% endif %}
        </div>
    </div>
    <br/>
<!-- /ko -->
{% endblock %}
{% block authmodals %}{% endblock %}
{% block scripts %}
    <script src="{{ 'resources/public/scripts/viewmodels/authViewModel.js'|resource }}"></script>
{% endblock %}
{% block initialize %}
<script>
    (function() {
        vm.showLogin = function() {
            window.location.href = "{{ 'login'|path }}";
        };
        vm.showRegister = function() {
            window.location.href = "{{ 'register'|path }}";
        };
        vm.showPage(new AuthViewModel());
    })();
</script>
{% endblock %}