{% extends 'layouts/layout.html' %}
{% block title %}
    Notifications
{% endblock %}
{% block notifications %}{% endblock %}
{% block content %}
    <div class="block">
        <span class="title">Notifications<i class="zmdi zmdi-notifications right"></i></span>
        <br/>
    </div>
    <!-- ko with: page -->
    <ul class="notificationsList">
        <!-- ko foreach: notifications -->
        <li data-bind="css: { seen: seen }">
            <a href="#" data-bind="attr: { href: link }">
                <div class="avatar">
                    <!-- ko if: icon() -->
                    <img src="#" data-bind="attr: { src: icon }">
                    <!-- /ko -->
                    <!-- ko if: type() == "1" -->
                    <i class="zmdi zmdi-star" data-bind="css: { icon: !icon() }"></i>
                    <!-- /ko -->
                    <!-- ko if: type() == "2" -->
                    <i class="zmdi zmdi-comment" data-bind="css: { icon: !icon() }"></i>
                    <!-- /ko -->
                    <!-- ko if: type() == "3" || type() == "5" -->
                    <i class="zmdi zmdi-thumb-up" data-bind="css: { icon: !icon() }"></i>
                    <!-- /ko -->
                    <!-- ko if: type() == "4" || type() == "6" -->
                    <i class="zmdi zmdi-thumb-down" data-bind="css: { icon: !icon() }"></i>
                    <!-- /ko -->
                </div>
                <div>
                    <span data-bind="text: message"></span>
                    <small class="timestamp" data-bind="text: date"></small>
                </div>
            </a>
            <a href="#" class="markRead" data-bind="click: function() { $parent.markRead($data) }">
                <i class="zmdi" data-bind="css: { 'zmdi-eye-off' : seen(), 'zmdi-eye' : !seen() }"></i>
            </a>
        </li>
        <!-- /ko -->
    </ul>
    <!-- /ko -->
    <br/>
{% endblock %}
{% block scripts %}
    <script src="{{ 'resources/public/scripts/viewmodels/notificationsViewModel.js'|resource }}"></script>
    <script>
        window.HasNotifications = false;
    </script>
{% endblock %}
{% block initialize %}
    <script>
        (function() {
            vm.showPage(new NotificationsViewModel());
        })();
    </script>
{% endblock %}