{% extends 'layouts/layout.html' %}
{% block title %}
    {{ data.current.post.name }}
{% endblock %}
{% block metadata %}
    <meta name="description" content="{{ data.current.post.description }}">
    <meta name="author" content="{{ data.current.post.author }}">
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ data.current.post.name }}" />
    <meta property="og:description" content="{{ data.current.post.description }}" />
    {% if data.current.post.mature %}
    <meta property="og:image" content="{{ 'resources/public/assets/o-bar_og.png'|resource }}" />
    {% else %}
    {% if data.current.elements[0].type|split('/')[0] == "video" %}
    <meta property="og:image" content="{{ data.current.elements[0].file|resource }}_thumb.jpg" />
    {% else %}
    <meta property="og:image" content="{{ data.current.elements[0].file|resource }}" />
    {% endif %}
    {% endif %}
{% endblock %}
{% block content %}
    <div class="image-block" data-bind="with: page">
        <div class="details" data-bind="with: post">
            <div>
                {% if not is_admin %}<!-- ko if: can_edit -->{% endif %}
                <inline class="image-title" params="value: name, save: $parent.save"></inline>
                <span class="charMax" data-bind="text: name.charcount"></span>
                {% if not is_admin %}<!-- /ko -->
                <!-- ko ifnot: can_edit -->
                <span class="image-title" data-bind="text: name"></span>
                <!-- /ko -->{% endif %}
            </div>
        </div>
        {% include 'utils/post.html' %}
        {% include 'modals/report.html' %}
        {% if not config('runtime', 'privacy') %}
            {% include 'modals/stats.html' %}
        {% endif %}
    </div>
    <br/>
{% endblock %}
{% block scripts %}
    <script src="{{ 'vendor/bower-asset/clipboard/dist/clipboard.min.js'|resource }}"></script>
    <script src="{{ 'vendor/bower-asset/imagesloaded/imagesloaded.pkgd.min.js'|resource }}"></script>
    <script src="{{ 'vendor/bower-asset/jquery_lazyload/jquery.lazyload.js'|resource }}"></script>
    <script src="{{ 'vendor/bower-asset/hammerjs/hammer.min.js'|resource }}"></script>
    <script src="{{ 'resources/public/scripts/models/post.js'|resource }}"></script>
    <script src="{{ 'resources/public/scripts/models/element.js'|resource }}"></script>
    <script src="{{ 'resources/public/scripts/models/comment.js'|resource }}"></script>
    <script src="{{ 'resources/public/scripts/models/vote.js'|resource }}"></script>
    <script src="{{ 'resources/public/scripts/viewmodels/postViewModel.js'|resource }}"></script>
    <script src="{{ 'resources/public/scripts/viewmodels/reportViewModel.js'|resource }}"></script>
    <script src="{{ 'resources/public/scripts/viewmodels/statsViewModel.js'|resource }}"></script>
{% endblock %}
{% block initialize %}
    <script>
        (function() {
            var id = '{{ data.current.post.id }}';
            var data = JSON.parse('{{ data|json_encode|raw|e("js") }}');
            data.comment_ref = '{{ comment_ref }}'.length > 0 ? '{{ comment_ref }}' : null;
            vm.showPage(new PostViewModel(id, false, data));
        })();
    </script>
{% endblock %}