{% extends 'layouts/layout.html' %}
{% block title %}
    {% if is_self %}
        Profile
    {% else %}
        {{ username }}'s profile
    {% endif %}
{% endblock %}
{% block content %}
    <!-- ko with: page -->
    <!-- ko with: user -->
    <div class="block cover" data-bind="style: { 'background-image': 'url(' + cover() + ')' }">
        <!-- ko if: is_self -->
        <div class="topRightButtons">
            <a href="#" data-bind="if: $parent.isImageUploaded, click: $parent.save"><i class="zmdi zmdi-save"></i></a>
            <a href="#" data-bind="click: $parent.showSettings"><i class="zmdi zmdi-settings"></i></a>
        </div>
        <!-- /ko -->
        <div class="avatarContainer">
            <img class="avatar uploadIconUpload" data-bind="attr: { src: avatar }">
            <!-- ko if: is_self -->
            <div id="avatar" class="avatar uploadIconDelete"></div>
            <form action="{{ 'api/profile'|resource }}" id="setAvatar" class="cornerEdit dropzone">
                <div class="fallback">
                    <input type="file" name="file" />
                </div>
            </form>
            <!-- /ko -->
        </div>
        <h1>
            <span data-bind="text: username"></span>
            <!-- ko if: is_self -->
            (<inline params="value: realname, save: $parent.save"></inline>)
            <!-- /ko -->
            <!-- ko ifnot: is_self -->
            <span data-bind="text: isEmptyOrWhiteSpace(realname()) ? '' : (' (' + realname() + ')')"></span>
            <!-- /ko -->
        </h1>
    </div>
    <br/>
    <ul class="tabSelector">
        <!-- ko if: is_self() || !isEmptyOrWhiteSpace(bio()) -->
        <li class="selected"><a href="#">Bio</a></li>
        <!-- /ko -->
        <li data-bind="css: { selected: !is_self() && isEmptyOrWhiteSpace(bio()) }"><a href="#">Stats</a></li>
    </ul>
    <ul class="tabs">
        <!-- ko if: is_self() || !isEmptyOrWhiteSpace(bio()) -->
        <li class="block bio-wrapper selected">
            <span class="bio">
                <!-- ko if: is_self -->
                <inline params="value: bio, save: $parent.save"></inline>
                <span class="charMax" data-bind="text: bio.charcount"></span>
                <!-- /ko -->
                <!-- ko ifnot: is_self -->
                <p data-bind="text: bio"></p>
                <!-- /ko -->
            </span>
        </li>
        <!-- /ko -->
        <li class="block stats" data-bind="css: { selected: !is_self() && isEmptyOrWhiteSpace(bio()) }">
            <div>Registered: <small data-bind="text: registration_date"></small></div>
            <div>Posts: <small data-bind="text: posts"></small></div>
            <div>Groups: <small data-bind="text: groups"></small></div>
            <div>Reputation: <small data-bind="text: $parent.reputationText(reputation())"></small></div>
            <div>Temper: <small data-bind="text: $parent.temperText(temper())"></small></div>
        </li>
    </ul>
    <!-- /ko -->
    <!-- ko if: previews().length > 0 -->
    {% if apine.user %}
    <div class="header">
        <span>Currently viewing <filters params="options: [ { name: 'unfiltered', value: true }, { name: 'filtered', value: false } ],
                                                 textField: 'name',
                                                 valueField: 'value',
                                                 default: showMature,
                                                 value: showMature"></filters> posts by date.</span>
        <hr/>
    </div>
    {% endif %}
    <div class="grid" data-bind="foreach: previews">
        <a class="inside-item gallery-preview" data-bind="attr: { id: 'image_' + id(), href: '{{ 'post/'|path }}' + id() }, click: function () { $parent.showPost($data); }">
            <div class="image">
                <div class="image-wrap" data-bind="css: { 'mature': $parent.maskMature() && !removed() ? mature : '', 'removed': removed }">
                    <img data-bind="attr: { src: image }" />
                </div>
            </div>
            <div class="image-hover">
                <span class="image-title">
                    <span data-bind="text: name"></span>
                </span>
            </div>
            <!-- ko if: count() > 1 -->
            <i class="image-type zmdi zmdi-hc-lg" data-bind="css: {
                'zmdi-collection-item-2': count() == 2,
                'zmdi-collection-item-3': count() == 3,
                'zmdi-collection-item-4': count() == 4,
                'zmdi-collection-item-5': count() == 5,
                'zmdi-collection-item-6': count() == 6,
                'zmdi-collection-item-7': count() == 7,
                'zmdi-collection-item-8': count() == 8,
                'zmdi-collection-item-9': count() == 9,
                'zmdi-collection-item-9-plus': count() >= 10 }"></i>
            <!-- /ko -->
            <!-- ko if: count() == 1 -->
            <!-- ko if: type().indexOf('image') == 0 -->
            <i class="image-type zmdi zmdi-image zmdi-hc-lg"></i>
            <!-- /ko -->
            <!-- ko if: type().indexOf('video') == 0 -->
            <i class="image-type zmdi zmdi-videocam zmdi-hc-lg"></i>
            <!-- /ko -->
            {#<!-- ko if: type().indexOf('facebook') == 0 -->
            <i class="image-type zmdi zmdi-facebook-box zmdi-hc-lg"></i>
            <!-- /ko -->#}
            <!-- /ko -->
        </a>
    </div>
    <!-- /ko -->
    <div class="no-info" style="display: none"><span>This member has not posted anything yet!</span></div>
    <div class="end-info" style="display: none"><span>Whoops! Looks like you've reached the end!</span></div>
    <div class="clearfix" id="bottom"></div>
    {% include 'modals/profile.html' %}
    {% include 'modals/post.html' %}
    <!-- /ko -->
{% endblock %}
{% block sidebar %}
    {% include 'utils/activity.html' %}
{% endblock %}
{% block scripts %}
    <script src="{{ 'vendor/bower-asset/clipboard/dist/clipboard.min.js'|resource }}"></script>
    <script src="{{ 'vendor/bower-asset/imagesloaded/imagesloaded.pkgd.min.js'|resource }}"></script>
    <script src="{{ 'vendor/bower-asset/stackblur-canvas/dist/stackblur.js'|resource }}"></script>
    <script src="{{ 'vendor/bower-asset/masonry/dist/masonry.pkgd.min.js'|resource }}"></script>
    <script src="{{ 'vendor/bower-asset/jquery_lazyload/jquery.lazyload.js'|resource }}"></script>
    <script src="{{ 'vendor/bower-asset/hammerjs/hammer.min.js'|resource }}"></script>
    <script src="{{ 'resources/public/scripts/models/profile.js'|resource }}"></script>
    <script src="{{ 'resources/public/scripts/models/preview.js'|resource }}"></script>
    <script src="{{ 'resources/public/scripts/models/post.js'|resource }}"></script>
    <script src="{{ 'resources/public/scripts/models/element.js'|resource }}"></script>
    <script src="{{ 'resources/public/scripts/models/comment.js'|resource }}"></script>
    <script src="{{ 'resources/public/scripts/models/vote.js'|resource }}"></script>
    <script src="{{ 'resources/public/scripts/viewmodels/profileViewModel.js'|resource }}"></script>
    <script src="{{ 'resources/public/scripts/viewmodels/galleryViewModel.js'|resource }}"></script>
    <script src="{{ 'resources/public/scripts/viewmodels/postViewModel.js'|resource }}"></script>
    <script src="{{ 'resources/public/scripts/viewmodels/reportViewModel.js'|resource }}"></script>
    <script src="{{ 'resources/public/scripts/viewmodels/statsViewModel.js'|resource }}"></script>
    <script src="{{ 'resources/public/scripts/blur.js'|resource }}"></script>
{% endblock %}
{% block initialize %}
    <script>
        (function() {
            var username = "{{ username }}";
            var mature = "{{ apine.user.get_property('mature') ? 'true' : 'false' }}" === "true";
            var mask = "{{ apine.user.get_property('mask_mature') ? 'true' : 'false' }}" === "true";
            vm.showPage(new ProfileViewModel(username, mature, mask));
        })();
    </script>
{% endblock %}
