{% extends 'layouts/layout.html' %}
{% block title %}
    Recovery
{% endblock %}
{% block content %}
<div class="block">
    <span class="title">Recovery<i class="zmdi zmdi-lock-outline right"></i></span>
    <div class="list">
        <hr/>
        <p class="center">
            Please enter your new password.
        </p>
        <hr/>
        <form action="{{ 'reset'|path }}" method="post">
            <input name="token" id="token" value="{{ token }}" type="hidden">
            <div class="input-field">
                <div class="input-label">
                    <span>Username</span>
                </div>
                <div class="input-field-wrap">
                    <label for="user"><i class="zmdi zmdi-account-o"></i></label>
                    <input name="user" id="user" type="text" value="{{ user.get_username() }}" placeholder="{{ user.get_username() }}" readonly>
                </div>
            </div>
            <div class="input-field">
                <div class="input-label">
                    <span>Email</span>
                </div>
                <div class="input-field-wrap">
                    <label for="email"><i class="zmdi zmdi-email"></i></label>
                    <input name="email" id="email" type="email" value="{{ user.get_email_address() }}" placeholder="{{ user.get_email_address() }}" readonly>
                </div>
            </div>
            <div class="input-field">
                <div class="input-label">
                    <span>Password</span>
                </div>
                <div class="input-field-wrap">
                    <label for="pwd"><i class="zmdi zmdi-lock-outline"></i></label>
                    <input name="pwd" id="pwd" type="password" placeholder="&bullet;&bullet;&bullet;&bullet;&bullet;&bullet;&bullet;&bullet;">
                </div>
            </div>
            <div class="input-field">
                <div class="input-label">
                    <span>Confirm</span>
                </div>
                <div class="input-field-wrap">
                    <label for="pwd_confirm"><i class="zmdi zmdi-lock-outline"></i></label>
                    <input name="pwd_confirm" id="pwd_confirm" type="password" placeholder="&bullet;&bullet;&bullet;&bullet;&bullet;&bullet;&bullet;&bullet;">
                </div>
            </div>
            <div class="input-field submit">
                <button type="submit">Reset</button>
            </div>
        </form>
    </div>
</div>
<br/>
{% endblock %}
{% block scripts %}
{% endblock %}
{% block initialize %}
<script>
    (function() {
        setInitializing(false);
        setLoading(false);
    })();
</script>
{% endblock %}