{% extends 'layouts/layout.html' %}
{% block title %}
    Terms and Conditions
{% endblock %}
{% block content %}
    <div class="panel">
        <div class="panel-heading">
            <span class="title">Rules<i class="zmdi zmdi-book right"></i></span>
        </div>
        <div class="panel-body">
            <p class="separator"><small>Boring legal stuff: <a href="#terms">Terms and Conditions</a> | <a href="#privacy">Privacy Policy</a></small></p>
            <ol class="list">
                <li>
                    <p>You will not upload, post, discuss, request, or link to anything that violates local or Canadian law.</p>
                    <small>We will strongly enforce this rule. We will immediatly ban and report to the authorities any user who violates the law.</small>
                </li>
                <li>
                    <p>Advertising (in all forms) is not welcome. This includes any type of referral linking, "offers", soliciting, begging, etc.</p>
                </li>
                <li>
                    <p>Impersonating an O-Bar administrator is strictly forbidden.</p>
                </li>
                <li>
                    <p>The use of scrapers, bots, or other automated posting or downloading scripts is prohibited.</p>
                </li>
                <li>
                    <p>Complaining about O-Bar (its policies, administration, etc) on the gallery may result in post deletion and a ban.</p>
                    <small>If you wish to get in touch with us, or the administration team, please send an inquiry to <a href="mailto:report@obar18.com">report@obar18.com</a></small>
                </li>
                <li>
                    <p>Submitting false or misclassified reports, or otherwise abusing the reporting system may result in a ban.</p>
                </li>
                <li>
                    <p>You will immediately cease and not continue to access the site if you are under the age of 18<sup>*</sup>.</p>
                    <small><sup>*</sup>or the age of majority in your country, province or state, whichever is higher.</small>
                </li>
                <li>
                    <p>No spamming or flooding of any kind.</p>
                </li>
                <li>
                    <p>Evading your ban will result in a permanent one.</p>
                </li>
            </ol>
        </div>
    </div>
    <br/>
    <div class="panel">
        <div class="panel-body">
            <p class="lead">Remember: The use of O-Bar is a privilege, not a right. The O-Bar administration team reserves the right to revoke access and remove content for any reason without notice.</p>
        </div>
        <a name="terms"></a>
    </div>
    <br/>
    <div class="panel" data-bind="with: page">
        <div class="panel-body">
            <div class="markdown" data-bind="markdown: terms"></div>
        </div>
        <a name="privacy"></a>
    </div>
    <br/>
    <div class="block" data-bind="with: page">
        <div class="panel-body">
            <div class="markdown" data-bind="markdown: privacy"></div>
        </div>
    </div>
    <br/>
{% endblock %}
{% block scripts %}
    <script src="{{ 'vendor/bower-asset/marked/marked.min.js'|resource }}"></script>
    <script src="{{ 'resources/public/scripts/bindings/markdown.knockout.js'|resource }}"></script>
    <script src="{{ 'resources/public/scripts/viewmodels/rulesViewModel.js'|resource }}"></script>
{% endblock %}
{% block initialize %}
    <script>
        (function() {
            vm.showPage(new RulesViewModel());
        })();
    </script>
{% endblock %}