// Rose theme
@main-color: rgb(35, 35, 35);
@main-color-light: lighten(@main-color, 10%);
@main-color-dark: darken(@main-color-light, 5%);
@accent-color: rgb(251, 154, 154);
@accent-color-dark: darken(@accent-color, 10%);
@text-color: rgb(245, 245, 245);
@text-color-dark: darken(@text-color, 30%);
@upvotes-color: rgb(50, 190, 55);
@upvotes-text: rgb(30, 130, 35);
@downvotes-color: rgb(190, 50, 55);
@downvotes-text: rgb(130, 30, 35);
@overlay-color: rgba(0, 0, 0, 0.5);
@clear-color: rgba(255, 255, 255, 0.5);