* {
  padding: 0;
  border: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background: #232323;
  display: flex;
  align-items: center;
  justify-content: center;
}
body img {
  height: 250px;
  width: auto;
}
