{#<div class="sidebar" data-bind="with: page">
    <div class="comments">
        <!-- ko foreach: comments -->
        <div class="comment">
            <div>
                <!-- ko if: author -->
                <a class="author" href="#" data-bind="attr: { href: '{{ 'profile/'|path }}' + author() }, text: author"></a>
                <!-- /ko -->
                <span data-bind="text: publication_date"></span>
                <a href="#" class="more" data-bind="click: function() { $parent.showPost({ id: post }); }"><i class="material-icons">exit_to_app</i></a>
            </div>
            <!-- ko if: image -->
            <a href="#" target="_blank" class="commentImage" data-bind="attr: { href: image }">View file</a><br/>
            <!-- /ko -->
            <span data-bind="linkify: comment"></span>
        </div>
        <!-- /ko -->
    </div>
</div>#}