<div class="outer">
    <div class="wrap">
        <div id="loading" class="loading">
            <script>
                var loadingHTML = "<div class='bounceball'></div><div class='text'>NOW LOADING</div>";
                document.getElementById('loading').innerHTML = loadingHTML;
            </script>
            <noscript>
                <div class="text">PLEASE ENABLE JAVASCRIPT</div>
            </noscript>
        </div>
    </div>
</div>