<form data-bind="with: user">
    <div class="input-field">
        <div class="input-label">
            <span>Email</span>
        </div>
        <div class="input-field-wrap">
            <label for="email"><i class="zmdi zmdi-email"></i></label>
            <input name="email" id="email" type="email" data-bind="textInput: email" placeholder="me@example.com">
        </div>
    </div>
    <div class="input-field">
        <div class="checkbox">
            <input type="checkbox" name="mask_mature" id="mask_mature" data-bind="checked: $parent.maskMature" />
            <label for="mask_mature"></label>
        </div>
        <span>Mask mature posts with an overlay</span>
    </div>
    <div class="input-field submit">
        <button type="submit" data-bind="click: $parent.save">Save</button>
    </div>
</form>
<hr/>
<form>
    <div class="input-field">
        <div class="input-label">
            <span>Password</span>
        </div>
        <div class="input-field-wrap">
            <label for="pwd"><i class="zmdi zmdi-lock-outline"></i></label>
            <input name="pwd" id="pwd" type="password" data-bind="textInput: password" placeholder="Password">
        </div>
    </div>
    <div class="input-field">
        <div class="input-label">
            <span>Confirm</span>
        </div>
        <div class="input-field-wrap">
            <label for="pwd_confirm"><i class="zmdi zmdi-lock-outline"></i></label>
            <input name="pwd_confirm" id="pwd_confirm" type="password" data-bind="textInput: confirm" placeholder="Confirm">
        </div>
    </div>
    <div class="input-field submit">
        <button type="submit" data-bind="disable: !passwordValid(), click: savePassword">Change</button>
    </div>
</form>