<form action="{{ 'api/report'|resource }}" method="post">
    <div class="input-field">
        <div class="input-label">
            <span>Reason</span>
        </div>
        <div class="input-field-wrap">
            <label for="reason"><i class="zmdi zmdi-comment-alert"></i></label>
            <textarea id="reason" name="reason" placeholder="Eg.: This publication is offensive..." data-bind="autosize: reason, textInput: reason"></textarea>
        </div>
    </div>
    <div class="input-field submit">
        <button type="submit" data-bind="disable: canSubmit, click: submit">Send report</button>
    </div>
</form>