<form action="{{ 'api/post'|resource }}" id="dropzoneInput" class="dropzone">
    <div class="fallback">
        <input type="file" name="file" data-bind="disable: disabled" multiple />
    </div>
</form>
<form action="{{ 'api/gallery'|resource }}" method="post">
    <div class="input-field">
        <div class="input-label">
            <span>Title</span>
            <span class="charMax" data-bind="text: title.charcount"></span>
        </div>
        <div class="input-field-wrap">
            <label for="title"><i class="zmdi zmdi-window-maximize"></i></label>
            <input id="title" type="text" name="title" placeholder="Your post name" data-bind="textInput: title, css: { charMaxError: title.css }, disable: disabled" />
        </div>
    </div>
    <div class="input-field">
        <div class="input-label">
            <span>Description <small>(optional)</small></span>
            <span class="charMax" data-bind="text: description.charcount"></span>
        </div>
        <div class="input-field-wrap">
            <label for="description"><i class="zmdi zmdi-receipt"></i></label>
            <textarea id="description" name="description" placeholder="Enter a short description or a story with your post" data-bind="autosize: description, css: { charMaxError: description.css }, textInput: description, disable: disabled"></textarea>
        </div>
    </div>
    <div class="input-field">
        <div class="checkbox">
            <input type="checkbox" name="mature" id="mature" data-bind="checked: mature" />
            <label for="mature"></label>
        </div>
        <span>Mature content</span>
    </div>
    <div class="input-field submit">
        <button type="submit" data-bind="disable: !canSubmit() || disabled, click: submit">Upload</button>
    </div>
</form>